* {
    padding: 0;
    margin: 0;
}

.game-setup {
    margin-top: 40px;
    text-align: center;
}

#game-area {
    visibility: hidden;

}

.display-header {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background-color: #111;
    width: 200px;
    height: 100px;
    margin-bottom: 5px;

}

.display {
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: aliceblue;
    width: 180px;
    height: 80px;

}

.player1 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20px;
    height: 70px;

}

.player2 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 20px;
    height: 70px;

}

.bullet1 {
    position: absolute;
    left: 0;
    bottom: 40px;
}

.bullet2 {
    position: absolute;
    right: 0;
    bottom: 45px;
}

#start-button {
    background-color: rgb(44, 228, 44);
    color: #111;
    border-radius: 4px;
    height: 30px;
    padding-left: 2px;
    padding-right: 2px;
    margin-bottom: 4px;
    cursor: pointer;
}

#start-button:hover {
    background-color: rgb(248, 246, 244);
}

#shoot-button {
    background-color: rgb(252, 174, 7);
    color: #111;
    border-radius: 4px;
    padding-left: 2px;
    padding-right: 2px;
    width: 100px;
    height: 50px;
    margin-top: 30px;
    cursor: pointer;
}

#shoot-button:hover {
    background-color: rgb(255, 28, 28);
}